.events {
  display: grid;
  gap: 2rem;
  padding: 2rem 2rem;
  max-width: 900px;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 0.5rem;
  &__heading {
    text-align: center;
  }
  &__btn {
    justify-self: flex-start;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }
  &__list {
    border-spacing: 0.5rem;
    td,
    th {
      padding: 0.5rem 0.2rem;
    }
  }
}
@media (max-width: 700px) {
  .events {
    padding: 1rem 0.5rem;
    &__list {
      border-spacing: 0.2rem;
    }
  }
}
