.details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  gap: 2rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    @media (max-width: 700px) {
      gap: 1rem;
    }
  }
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  &__logo {
    width: 100px;
  }
  &__content {
    display: grid;
    gap: 0.5rem;
    @media (max-width: 700px) {
      gap: 0.2rem;
    }
  }
  &__description {
    grid-column: span 2;
  }
  &__btn {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    @media (max-width: 700px) {
      font-size: 1rem;
      padding: 0.3rem 0.2rem;
    }
  }
  &__description {
    line-height: 1.7;
    @media (max-width: 700px) {
      display: none;
    }
  }
}
